@model ServiceStation.Models.OrderListViewModel
@{
    ViewBag.Title = "The list of orders";
    ViewBag.Subheading = "(last orders)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @ViewBag.Title
                <small>@ViewBag.Subheading</small>
            </h1>
            <table class="table table-bordered">
                <!-- On rows -->
                <tr>
                    <th>Id</th>
                    <th class="warning">Client</th>
                    <th>Car</th>
                    <th class="warning">Order Amount</th>
                    <th>Date</th>
                    <th class="warning">Status</th>
                    <th>Action</th>
                </tr>
                <!-- On cells (`td` or `th`) -->
                @foreach (var m in Model.Orders)
                {
                    <tr>
                        <td>
                            <strong>@m.OrderId</strong>
                        </td>
                        <td class="info">@m.Clients.FirstName&nbsp;@m.Clients.LastName</td>
                        <td>@m.Cars.Make&nbsp;@m.Cars.Model;&nbsp;(VIN: @m.Cars.VIN)</td>
                        <td class="info">@m.OrderAmount</td>
                        <td>@m.DateFinished</td>
                        <td class="info">@m.Status</td>
                        <td>
                            <a href="@Url.Action("Modified", "Order", new { id = m.OrderId })" class="btn btn-info btn-sm">Modified</a>
                            <a href="@Url.Action("Delete", "Order", new { id = m.OrderId })" class="btn btn-warning btn-sm">Delete</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->