@model ServiceStation.Models.CheckClientViewModel

@{
    ViewBag.Title = "Check_Client";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <h2>Check Client</h2>
        @using (Html.BeginForm("Result_Client", "Client", FormMethod.Post, new { }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="validation-summary-error" data-valmsg-summary="true">
                <div class="form-group">
                    @Html.LabelFor(m => m.FirstName)
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "first name*" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.LastName)
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "last name*" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Phone)
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", @placeholder = "phone number*" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "email" })
                </div>
            </div>
            <p>
                <button type="submit" value="Submit" class="btn btn-primary"> Check Client</button>
            </p>
        }
    </div>
</div>